extends ../layout/main.pug
block variables
    - var title = 'Quro';
    - var description = 'framework for lazy';
    - var language = 'ru';
    - var pageClass = 'index';

block content
  h1.main-header Welcome to the Jquro
  nav
    a.about-link(href="https://github.com/Quazaru/Jquro") GitHub
    a.about-link(href="https://vk.com/quiet_doom") Author in VK
    a.about-link(href="https://github.com/Quazaru") Author in GitHub
    a.about-link(href="https://youtu.be/tpiyEe_CqB4") video with cats, lol
  .container
    .test-package
      - for(let i = 0; i < 10; i++)
        .test-div-block 
    .test-package
      - for(let i = 0; i < 10; i++)
        - if (i % 2 == 0)
          .active-test-block.test-div-block 
        .test-div-block 
